.bubble-background {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #a5a7ab, #2c2b2c, #98d1ea);
}

.bubble {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  background:  rgb(255, 85, 0);
  border-radius: 10%;
  animation: rise 7s infinite ease-in;
}

@keyframes rise {
  0% {
    transform: translateY(1) scale(10);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(-120vh) scale(3.2);
    opacity: 0;
  }
}


.bubble:nth-child(1) { left: 10%; animation-delay: 0s; animation-duration: 12s; }
.bubble:nth-child(2) { left: 20%; animation-delay: 2s; animation-duration: 10s; }
.bubble:nth-child(3) { left: 30%; animation-delay: 4s; animation-duration: 11s; }
.bubble:nth-child(4) { left: 40%; animation-delay: 1s; animation-duration: 9s; }
.bubble:nth-child(5) { left: 50%; animation-delay: 3s; animation-duration: 13s; }
.bubble:nth-child(6) { left: 60%; animation-delay: 3s; animation-duration: 8s; }

