.ContactContainer {
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    gap: 100px;
    font-family: 'Aabraham James';
    margin-bottom: 5%;
}
 
.ContactContainer h1 {
    font-size: 80px;
    margin-top: 30px;
}

.cont-inc {
    color: rgb(255, 85, 0);
    display: flex;
    flex-wrap: wrap;
}

.input-Container {
    background-color: rgb(39, 39, 39);
    margin-top: 10px;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    transition: box-shadow 0.3;
}

.input-Container:hover {
    box-shadow: 1px 1px 10px rgb(255, 85, 0);
}

.input-Container input {
    margin-bottom: 10px;
    width: 90%;
    padding: 6px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(76, 76, 76);

}

.input-Container p {
    margin-bottom: 5px;
}

.input-Container textarea{
    min-width: 91%;
    max-width: 91%;
    max-height: 200px;
    min-height: 140px;
    padding-top: 15px;
    padding-left: 10px;
    background-color: rgb(76, 76, 76);
    border-radius: 5px;
    border: none;
    outline: none;

}

.input-Container textarea:focus {
    box-shadow: 0 0 5px rgba(221, 26, 5, 0.5);
}



.input-Container  input:focus {
    box-shadow: 0 0 5px rgba(221, 26, 5, 0.5);
}

.input-Container button {
    background-color: rgb(255, 85, 0);
    width: 93%;
    margin-top: 30px;
    cursor: pointer;
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
