.cursor-ring {
    position: fixed;
    width: 300px;
    height: 300px;
    border: 2px solid #5bd7d7;
    border-radius: 50%;
    pointer-events: none;
    z-index: 99999;
    mix-blend-mode: difference;
    background-color: #5bd7d7; 
    opacity: 0.3;
  }
  
  .cursor-dot {
    position: fixed;
    width: 150px;
    height: 150px;
    background-color: #5bd7d7;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    opacity: 0.3;
    mix-blend-mode: difference;
  }
  