.nav{
    background-color: rgb(255, 85, 0);
    margin: 2% 35%;
    padding: 1%;
    border-radius: 5px;
     
}
.nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: space-between;
}
.nav li{
    position: relative;
}

.Tooltip{
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: #000000;
    transition: color 0.3 ease;
}

.Tooltip:hover {
  color: rgb(255, 255, 255);
}

.tooltip-text{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-0.5%);
    background-color: rgb(11, 175, 170);
    color: white;
    padding: 5px 8px;
    font-size: 12px;
    white-space: nowrap;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.40s ease, transform 0.3s ease; 
}

.Tooltip:hover .tooltip-text{
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-5px);;

}
