.ProjectContainer {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    min-height: 100vh;
    width: 100%;
    gap: 100px;
    font-family: 'Aabraham James';
    margin-bottom: 100px;
}

.ProjectContainer .self{
    width: 350px;
}

.project-con-2 {
    margin-top: 50px;

}
.title{
    font-size: 70px;
    margin-bottom: 10px;
}
.pro{
    color: rgb(255, 85, 0);
}
.project-con-2-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 50px;
    width: 600px;
}

.project-card {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.project-card h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    padding-left: 10px;
    margin: 10px 0;
}
.project-card:hover h2{
    color: rgb(255, 85, 0);
}
.project-card p {
    font-size: 0.9rem;
    color: #666;
    padding: 0 10px 10px;
}

.colabrate{
    background-color: rgb(36, 34, 34);
    max-width: 600px;
    margin-top: 10%;
    padding: 5%;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Aabraham James';
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.colabrate:hover {
    background-color: rgb(255, 85, 0);
    transform: scale(1.02);
}

.colab{
    color: rgb(255, 85, 0);
}
.colabrate:hover .colab {
    color: rgb(255, 255, 255); 
}

.colabrate h1{
    font-size: 60px;
}